@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.blogPage{
    .header {
        background: url('../../assets/images/blog.png') no-repeat center;
        background-size: cover;
        width: 100%;
        height: 345px;
        min-height: 345px;
        &__bg {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .53);
        }
        &__tittle {
            position: relative;
            color: $white;
            font-weight: 700;
            font-size: 64px;
            line-height: 110.5%;
            text-align: center;
            padding-top: 7.5rem;
            z-index: 1;
            @include respond(tab-land) {
                font-size: 38px;
            }
            @include respond(tab-port) {
                font-size: 28px;
            }
        }
        &__tittle::after {
            content: "";
            position: absolute;
            top: 86%;
            left: 37%;
            width: 26%;
            height: 30px;
            background: $red;
            z-index: -1;
            @include respond(tab-land) {
                top: 89%;
                width: 55%;
                height: 25px;
                left: 23%;
            }
            @include respond(tab-port) {
                width: 49%;
                top: 89%;
                left: 26%;
            }
        }

        &__container {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            @include respond(tab-port){
                width: 90%;
            }
        }
    }

    .blog {

        &__contentt {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-top: 84px;
            width: 100%;
            justify-content: space-around;
            @include respond(tab-port) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        &__postts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            //flex-wrap: wrap;
            width: 90%;
            padding-left: 120px;
            @include respond(tab-land) {
                padding-left: 20px; 
            }
            @include respond(tab-port) {
                width: 90%;
                padding-left: 0px;
            }
        }
        &__post {
            background: $white;
            margin: 10px 10px;
            &-img {
                width: 80%;
                @include respond(tab-land) {
                    width: 100%; 
                }
                img {
                    width: 100%;
                    //padding-right: 1rem;
                }
            }

            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 1rem;
                @include respond(tab-port) {
                    margin-right: 0px;
                } 
            }
            &-grp {
                display: flex;
                flex-direction: column;
            }
            &-text {
                font-family: Gorditas400;
                font-weight: 400;
                font-size: 16px;
                line-height: 2.8;
                color: #000000;
                text-align: left;
                padding-right: 17rem;
                @include respond(tab-land) {
                    padding-right: 2rem; 
                } 
                @include respond(tab-port) {
                    padding-right: 0px; 
                } 
                span {
                    display: block;
                    padding-top: 4rem;
                    font-weight: bold;
                }
            }
         
            &--datte {
                //display: inline-block;
                background-color: $logo-red;
                color: $white;
                font-size: 12px;
                line-height: 17px;
                padding: 10px;
                margin-right: 16.5rem;
                @include respond(tab-land) {
                    margin-right: 1.4rem; 
                }
                @include respond(tab-port) {
                    margin-right: 20px; 
                }
            }
            &--author {
                font-family: Gorditas400;
                font-size: 14px;
                line-height: 20px;
                color: $logo-red; 
                //padding-bottom: 27px;
            }
            &--title {
                font-family: Gorditas;
                font-weight: 500;
                font-size: 24px;
                line-height: 34px;
                color: $black;
                padding: 28px 0;
            }
            &--title:hover {
                color: $red;
            }
        }

        &__sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 380px;
            margin-right: 120px;
            @include respond(tab-land) {
                margin-right: 20px; 
            }
            @include respond(tab-port) {
                margin-left: 53px;
                justify-content: center;
                align-items: center;
            }

            &--hr {
                display: none;
                width: 100%;
                border: 1px solid rgba(0, 0, 0, 0.11);
                margin-top: 20px;
                margin-bottom: 60px;
                @include respond(tab-port) {
                    display: block;
                }
            }

            &-search {
                width: 100%;
                margin-bottom: 26px;
                &-input {
                    width: 100%;
                    height: 51px;
                    background: $white;
                    border: 1px solid #C9C9C9;
                    border-radius: 5px;
                    padding: 12px 40px 12px 12px;
                }
                &-input:placeholder {
                    font-family: Gordita;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            &-menu {
                background: #FF8C7F;
                display: flex;
                flex-direction: column;
                width: 100%;
                flex-basis: 380px;
                align-self: flex-end;
                padding-left: 28px;
                border-radius: 5px;
                cursor: pointer;
                &-title {
                    font-family: Gorditas;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    color: $black;
                    padding-top: 18px;
                }
                &-item {
                    color: rgba(0, 0, 0, 0.58);
                    font-family: Gorditas400;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    padding-top: 10px;
                }
            }
        }

    }
}
