@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &--img {
    @include respond(tab-land){
      width: 60px;
      height: 60px;
    }
    @include respond(tab-port){
      width: 40px;
      height: 40px;
    }
  }
  &-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    padding-left: 10px;
    white-space: pre;
    @include respond(tab-land){
      font-size: 12px;
      line-height: 18px;
    }
    @include respond(tab-port){
      font-weight: 500;
      padding-left: 10px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

